<!-- <script>
console.log('Client-side code running');


async function getDataAsync0(data) {
    return new Promise(async (res) => {
      setTimeout(()=>{
        res(data);
      },3000)
    });
  }
  
  document.getElementById("sub").click(async () => {
    let failMessageElement =  document.getElementById("failMessage");
    failMessageElement.show();
  })      
</script> -->
</body>
</html>
