<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="input01" type="email" class="form-control" name="username" required>
              <%if(flag==1){%>
                <div >
                  <p style="color:red;">There exists an account with this email id! Kindly login</p>
                </div>
              <%}%>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" id="sub" class="btn btn-dark">Register</button>            
          </form>
          <%if(flag==1){%>
              <a href="login" style="color: black; margin-left: 3.5%;">Login</a>
          <%}%>  
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
